<h2>Formulario curso<br /><small>con Symfony 3</small></h2>
{{ form_start(
      form,
      {
        'action':'',
        'method':'post'   
      }
    )
}}
{{ form_end( form ) }}    {# Cierre del formulario con el nombre del Formulario se cierra #}
